<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachunki Focha</title>
</head>
<body>
    <h1>Rachunki Focha</h1>
    <table class="summary-table">
        <thead>
            <tr>
                <th>Miesiąc</th>
                <th>Czynsz</th>
                <th>Woda</th>
                <th>CO</th>
            </tr>
        </thead>
        <tbody>
            {% for utility in utilities %}
            <tr>
                <td>{{utility.month.strftime('%Y-%m')}}</td>
                <td>{{utility.maintenance_cost or 0}}</td>
                <td>{{utility.water_and_sewage_cost or 0}}</td>
                <td>{{utility.heating_cost or 0}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>